!!! 5
%html(lang="en-US")
  %head
    %title Dummy Image | Jasmine Specs
    %meta(charset="UTF-8")
    %link(rel="shortcut icon" href="jasmine-1.1.0/jasmine_favicon.png")
    %link(rel="stylesheet" href="jasmine-1.1.0/jasmine.css")
    %script(src="jasmine-1.1.0/jasmine.js")
    %script(src="jasmine-1.1.0/jasmine-html.js")
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    %script(src="javascripts/dummy_image.js")
    %script(src="spec/dummy_image.js")
  %body
